.content-cards-categories {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

}

#content-category-selected {
    margin-top: 45px;
}

@media (max-width: 768px) {
    .content-categories {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .content-cards-categories {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
    }

    #content-category-selected {
        margin-top: 0px;
    }
}